body {
  background-color: #9999aa;
  font-family: Helvetica, Arial;
}

div.gamearea {
  width: 100%;
  height: 75vh;
  background-color: #aaccaa;
  padding: 1vh;
  margin: 0;
}

div.start-button {
  padding: 1.5vw;
}

button {
  height: 100%;
  width: 10vw;
  font-size: 1.5vw;
  font-weight: 700;
  background-color: #aabfaa;
}

div.thing {
  padding: 0.7vw;
  height: 5vh;
  width: 15.5vw;
  transition: all 700ms ease-in-out;
  position: relative;
}

div.thing span.m {
  border: 1px solid #eee;
  background-color: #dddddd;
  border-radius: 1vh;
  padding: 0.3vh;
  bottom: 2vh;
}

div.thing span.u {
  display: inline-block;
  transform: scaleX(-1);
  font-size: 4vw;
  color: grey;
}

h1 {
  padding: 1em;
}

body.start h1 {
  background-color: #ccaa99;
  border: 3px dotted #336699;
}

body.win h1 {
  color: #eee;
  background-color: #999;
}

body.lose {
  color: red;
  background-color: #cc9999;
}

body.lose h1 {
  color: red;
  background-color: pink;
}

body.lose .thing {
  color: red;
  opacity: 0.11;
  background-color: red;
  font-size: 0;
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 90%;
  transition: all 1300ms ease-in-out;
}

body.lose .thing span.u {
  transform: rotate(180deg);
  transition: all 1300ms ease-in-out;
}

body.win .thing span {
  color: #ccc;
  background-color: transparent;
  opacity: 0.22;
  background-color: #ccc;
  text-shadow: 0 0 #999;
}
